
h1 {
    background-color: #4D473F;
    color: #988E81;
    text-align: center;
    margin: 0px;
    padding: 25px;
    font-size: 40px;
}


body {
    background-color: whitesmoke;
    margin: 2%;
    border: solid #988E81 5px;


}

form {
    padding: 50px;
    background-color: #C4BDB4;
}



ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

select,
input {
    font-size: large;
    width: 175px;
}

select {
    width: 175px;
    text-align: center;
}

input[type="submit"] {
    width: 175px;
}

.erreur {
    color: red;         

}

.resultat {
    color: green;  
}

.erreur,
.resultat {
    font-weight: bold;  
    background-color: #C4BDB4;
    margin: 0;
    padding: 2%;
    text-align: center;
    font-size: 30px;
}

img {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 20%;
    height: 20%;
    
}